# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Node (since you have package-lock.json)
node_modules/

# VS Code
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Build / dist
dist/
build/